/*
 * style sheet for libcstl.org
 */

body {
    margin: 0px;
    padding: 0px;
    font-family: "Lucida Grande", Verdana, Lucida, 宋体, sans-serif;
    font-size: 18px;
    background-color: #ffffff;
}

a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

a, p, h1, h2, h3, h4, h5, h6, div {
    margin: 0px;
    padding: 0px;
}

/* header */
#header {
    margin: 0px;
    padding: 0px;
    width: 60%;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
}
#logo a, h1 {
    float: left;
}
#logo h1 {
    margin-top: 30px;
    font-style: italic;
    font-weight: bold;
    margin-left: 30px;
}
#logo a {
    outline: none;
    text-decoration: none;
    background-color: #ffffff;
}

/* menu */
#menu {
    background-color: #3465a4;
    width: 100%;
    height: 32px;
    border-bottom: 3px solid #000000;
    clear: both;
}
/* navigation */
#navi {
    margin: 0px;
    padding: 0px;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    background-color: #3465a4;
    clear: left;
}
#navi ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}
#navi li {
    float: left;
}
#navi a {
    display: block;
    width: 120px;
    font-weight: bold;
    color: #ffffff;
    background-color: #3465a4;
    padding: 4px;
    text-align: center;
    text-decoration: none;
    outline: none;
}
#navi a:hover, a:active {
    background-color: #0000ff;
    color: #ffff00;
}

/* content */
#content {
    margin: 0px;
    padding: 0px;
    width: 60%;
    clear: both;
    margin-left: auto;
    margin-right: auto;
}
#content h2 {
    margin-top: 15px;
    margin-bottom: 8px;
}
#content p {
    margin-top: 8px;
}
#master_content {
    float: left;
    width: 59%;
}
#what_is_libcstl h2 {
    text-align: center;
    background-color: #bd0000;
    color: #ffffff;
}
#learning h2 {
    text-align: center;
    background-color: #2f4f4f;
    color: #ffffff;
}
#devel h2 {
    text-align: center;
    background-color: #8b008b;
    color: #ffffff;
}
#slave_content {
    float: right;
    width: 39%;
}
#news h2 {
    text-align: center;
    background-color: #aacb50;
    color: #ffffff;
}
#license h2 {
    text-align: center;
    background-color: #1e90ff;
    color: #ffffff;
}
#thanks h2 {
    text-align: center;
    background-color: #458b00;
    color: #ffffff;
}
#community h2 {
    text-align: center;
    background-color: #f08080;
    color: #ffffff;
}

/* separator */
#separator {
    clear: both;
    height: 30px;
    border-bottom: solid 3px #3465a4;
}
/* footer */
#footer {
    height: 50px;
    font-size: 14px;
    clear: both;
}
#github {
    float: right;
    margin: 10px;
}
#copyright {
    float: left;
    margin: 10px;
}
